<div class="row">
  <div class="col-xs-12 col-md-6">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)">
      <div class="from-group">
        <label for="email">
          Email
        </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="form-control"
          required
        />
      </div>
      <div class="from-group">
        <label for="password">
          Password
        </label>
        <input
          formControlName="password"
          type="password"
          id="password"
          class="form-control"
          required
        />
      </div>
      <div style="padding-top: 10px">
        <button
          [disabled]="!authForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
