<div class="container">
  <app-cockkpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockkpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let item of serverElements" [element]="item">
        <p>
          <strong *ngIf="item.type === 'server'" style="color: red">{{
            item.content
          }}</strong>
          <em *ngIf="item.type === 'blueprint'" style="color: blue">{{
            item.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
