<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingList" (ngSubmit)="onSubmit(shoppingList)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" formControlName="amount" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="!shoppingList.valid"
            class="btn btn-success"
            type="submit"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            Clear
          </button>
          <button
            *ngIf="editMode"
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
